name: Install and test funpara
on: [push, workflow_dispatch]

permissions:
  contents: read

jobs:
  funpara:
    name: NodeJS-CI-libs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        run: npm install --ignore-scripts
      - name: Check for formatting issues
        run: npm run checkformat
      - name: Check for linting issues
        run: npm run lint
      - name: Check types
        run: npm run check
      - name: Run tests
        run: npm test
